/* ========================================== */
/* Автоматически сгенерированные цвета       */
/* для class селекторов                      */
/* ========================================== */
/* Метод: Farthest-Point Sampling в OKLab    */
/* Обеспечивает максимальную визуальную      */
/* различимость цветов                       */
/* ========================================== */

.item {
    background-color: rgb(41, 255, 0);
}

.module {
    background-color: rgb(20, 0, 44);
}

.selectable {
    background-color: rgb(255, 62, 253);
}

