/* Метод: Farthest-Point Sampling в OKLab - максимальная визуальная различимость */

.item {
    background-color: rgb(0, 255, 58);
}

.module {
    background-color: rgb(3, 2, 64);
}

.selectable {
    background-color: rgb(254, 38, 241);
}

