/* Метод: Farthest-Point Sampling в OKLab - максимальная визуальная различимость */

#app {
    background-color: rgb(255, 131, 1);
}

#clock {
    background-color: rgb(1, 2, 57);
}

#content {
    background-color: rgb(144, 0, 247);
}

#header {
    background-color: rgb(2, 255, 17);
}

#icon {
    background-color: rgb(9, 106, 8);
}

#launchpad {
    background-color: rgb(40, 187, 254);
}

#location {
    background-color: rgb(164, 0, 63);
}

#logo {
    background-color: rgb(255, 245, 227);
}

#marquee {
    background-color: rgb(255, 118, 251);
}

#message {
    background-color: rgb(21, 74, 150);
}

#network_state {
    background-color: rgb(61, 180, 92);
}

#new_message_icon {
    background-color: rgb(73, 30, 1);
}

#news {
    background-color: rgb(147, 112, 162);
}

#news_content {
    background-color: rgb(255, 3, 125);
}

#news_date {
    background-color: rgb(230, 214, 8);
}

#news_title {
    background-color: rgb(29, 245, 214);
}

#newsline {
    background-color: rgb(21, 109, 253);
}

#roombox {
    background-color: rgb(159, 105, 0);
}

#schedule_state {
    background-color: rgb(221, 177, 193);
}

#temp {
    background-color: rgb(95, 13, 101);
}

#text {
    background-color: rgb(15, 3, 238);
}

#timer_state {
    background-color: rgb(216, 11, 213);
}

#title {
    background-color: rgb(99, 77, 77);
}

#video {
    background-color: rgb(31, 136, 128);
}

#weather {
    background-color: rgb(8, 2, 134);
}

#welcome {
    background-color: rgb(152, 23, 154);
}

